#!/usr/bin/env bash
set -eux
set -o pipefail

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
wg setconf wgsrv1 "$DIR/wgsrv1.conf"
wg show wgsrv1

ip6=$(ip -o -6 addr show wgsrv1 scope global | awk '{split($4,ip,"/"); print ip[1]}')

if [ -z "$ip6" ]; then
  ip -6 addr add "{{ wireguard__ipv6 }}" dev wgsrv1
fi
