[Unit]
Description=Syncoid Snapshots
After=network-online.target
Wants=network-online.target zfs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/syncoid-snapshot
# Prevent multiple instances from running simultaneously
RemainAfterExit=no
Restart=no
# If the service is already running when the timer triggers, the new instance will be skipped
StartLimitIntervalSec=0
