*.{{ plex__domain }} {
{%- if plex__enable_certbot_hook | bool %}
	# Use certbot-issued certificates
	tls {{ plex__caddy_home }}/ssl/fullchain.pem {{ plex__caddy_home }}/ssl/privkey.pem
{%- else %}
	# Use Caddy's built-in ACME with CloudFlare DNS
	tls {
		dns cloudflare {{ plex__cloudflare_api_token }}
	}
{%- endif %}

	@plex host plex.{{ plex__domain }}
	handle @plex {
		reverse_proxy localhost:32400
	}

  # Fallback for otherwise unhandled domains
	handle {
		abort
	}
}
