[Unit]
Description=Syncoid Snapshots
After=network-online.target
Wants=network-online.target zfs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/syncoid-snapshot
