[Unit]
Description=Run Syncoid on Schedule

[Timer]
OnCalendar=*-*-* 01:00:00 America/Los_Angeles
Persistent=true
WakeSystem=true

[Install]
WantedBy=timers.target
