[Unit]
Description=Workaround for Controld bug
ConditionFileIsExecutable=/data/controld/configure
ConditionFileNotEmpty=/data/controld/zzzctrld.conf
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/data/controld/configure

[Install]
WantedBy=multi-user.target
