#jinja2: trim_blocks:True, lstrip_blocks:True
[Interface]
Address = {{ wireguard__address }}
ListenPort = {{ wireguard__port }}
PrivateKey = {{ wireguard__private_key }}
PostUp = ufw route allow in on wg0 out on eth0
PostUp = ufw route allow in on eth0 out on wg0
PostUp = sysctl -w net.ipv4.ip_forward=1
PostUp = sysctl -w net.ipv6.conf.all.forwarding=
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = ip6tables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
PostDown = ip6tables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = sysctl -w net.ipv6.conf.all.forwarding=0
PostDown = sysctl -w net.ipv4.ip_forward=0
PostDown = ufw route delete allow in on eth0 out on wg0
PostDown = ufw route delete allow in on wg0 out on eth0


{% for peer in peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint and peer.endpoint != '' %}
Endpoint = {{ peer.endpoint }}
{% endif %}

{% endfor %}
