[service]
  log_level = "info"
  cache_enable = true
  cache_size = 4096

[listener]
  [listener.0]
    ip = '0.0.0.0'
    port = 53

[upstream]
  [upstream.0]
    bootstrap_ip = '45.90.28.113'
    type = 'doh3'
    endpoint = 'https://dns.nextdns.io/{{ ctrld__nextdns_prefix }}'
    timeout = 5000
