[service]
  cache_enable = true
  cache_size = 4096

[listener]
  [listener.0]
    ip = '0.0.0.0'
    port = {{ ctrld__port }}
    [listener.0.policy]
      name = 'default'
      rules = [
        # Archive.today is sending bad IPs to NextDNS? Maybe ECS related.
        { 'archive.today' = ['upstream.1']},
        { 'archive.fo' = ['upstream.1']},
        { 'archive.is' = ['upstream.1']},
        { 'archive.li' = ['upstream.1']},
        { 'archive.md' = ['upstream.1']},
        { 'archive.ph' = ['upstream.1']},
        { 'archive.vn' = ['upstream.1']},
        { '*.ts.net' = ['upstream.2']},
        { '*.ostrich-vector.ts.net' = ['upstream.2']},
      ]

[upstream]
  [upstream.0]
    # NextDNS
    bootstrap_ip = '45.90.28.113'
    type = 'doh3'
    endpoint = 'https://dns.nextdns.io/{{ ctrld__nextdns_prefix }}'
    timeout = 5000

  [upstream.1]
    # Google
    bootstrap_ip = '8.8.8.8'
    type = 'doh3'
    endpoint = 'https://dns.google/dns-query'
    timeout = 5000

  [upstream.2]
    # Tailscale
    type = 'legacy'
    endpoint = '100.100.100.100'
    timeout = 5000
