{
  "storage": {
    "type": "filesystem",
    "config": {
      "path": "{{ kopia_server__repository_path }}",
      "fileMode": 384,
      "dirMode": 448,
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "{{ kopia_server__cache_path }}",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "{{ ansible_hostname }}",
  "username": "kopia",
  "description": "Repository in Filesystem: {{ kopia_server__repository_path }}",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
