[Unit]
Description=Kopia Maintenance
After=network-online.target
Wants=kopia-maintenance.timer

[Service]
Type=exec
User=backup
Group=backup
PermissionsStartOnly=true
ExecStart=/usr/local/bin/kopia-maintenance
ExecStopPost=/bin/bash -c "[ $SERVICE_RESULT = success ] && touch %t/kopia-exporter.trigger"

[Install]
WantedBy=multi-user.target
