[Unit]
Description=Run Kopia maintenance
Requires=kopia-maintenance.service

[Timer]
Unit=kopia-maintenance.service
OnBootSec=1min
OnUnitActiveSec=3h
Persistent=true

[Install]
WantedBy=timers.target
