[Unit]
Description=Kopia Prometheus Text File Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=backup
Group=backup
PermissionsStartOnly=true
ExecStart=/usr/local/bin/kopia-export /tmp/kopia_exporter.prom
# We need to move the file as root or chmod the destination...
ExecStopPost=/usr/bin/mv /tmp/kopia_exporter.prom \
  /var/lib/prometheus/node-exporter/kopia_exporter.prom

[Install]
WantedBy=multi-user.target
