[Unit]
Description=Run Kopia Sync
Requires=kopia-sync.service

[Timer]
Unit=kopia-sync.service
OnCalendar=*-*-* 04:00:00 America/Los_Angeles
Persistent=true

[Install]
WantedBy=timers.target
