{{ sanoid__config | default("") }}

[template_files]
  frequently = 2
  hourly = 3
  daily = 3
  monthly = 3
  yearly = 0
  autosnap = yes
  autoprune = yes

# Media gets used for volumes that would be expensive to keep
# long term archives for
[template_media]
  frequently = 2
  hourly = 5
  daily = 5
  monthly = 1
  yearly = 0
  autosnap = yes
  autoprune = yes
