[Unit]
Description=Collect zfs snapshot metrics for prometheus-node-exporter

[Service]
Type=oneshot
Environment=TMPDIR=/var/lib/prometheus/node-exporter
ExecStart=/bin/bash -c "/usr/local/share/prometheus-node-exporter-collectors/zfs-snapshots.py | sponge /var/lib/prometheus/node-exporter/zfs-snapshots.prom"
